.material-design {

  .btn-primary {
    background-color: $primaryColor !important;

    &.active {
      background-color: $primaryColorDark !important;

      .ink {
        background-color: $primaryColorDark !important;
      }
    }
  }

  .ripple-effect.btn-primary.active .ink {
    background-color: $primaryColorDark !important;
  }
}