$primaryColor: rgb(146, 147, 255);
$primaryColorDark: #7778E2;
$primaryColorLight: #ECECFF;

$homepageBackgroundColor: rgba(236, 236, 255, 0.3);

// $secondaryColor: #9BF28D;
// $secondaryColorDark: #9BF28D;
$secondaryColor: #38E4B6;
$secondaryColorDark: #38E4B6;
$textOverSecondaryColor: #5F147E;

$thirdColor: #FF5656;
$thirdColor: #FF5656;

$backgroundColor: #ECECFF;
$backgroundColorOld: #F9F9F9;

$dullGrey: #8c989e;
$darkBackgroundColor: rgb(50, 49, 49);
$darkerBackgroundColor: rgb(24, 24, 24);
$offWhite: rgb(221, 221, 221);
$midGray: rgb(121, 118, 118);
$niceDarkGrey: #333;
$lightGray: #9E9E9E;

$free: #FF4D4D;
